<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header>header</header>
      <nav>menu</nav>
      <div class="slider">slider</div>
      <div class="intro">introductions</div>
      <secction class="customers">
        <div class="customersname">restaurant1</div>
        <div class="customersname">restaurant2</div>
        <div class="customersname">restaurant3</div>
      </secction>
      <footer>footer</footer>
    </div>
  </body>
</html>
